body {
    background-color: rgb(236, 228, 228);
}
.container-card {
    padding: 50px opx 50px 0px;
    margin-bottom: 2em;
}
.img-perfil-card {
    display: flex;
    justify-content: center;
}
.card-title {
    font-family: 'Poppins';
}
hr {
    height: 1px;
    background-color: black;
    width: 100%;
}
.card-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 1em;
}
.card-perfil {
    background-color: rgb(250, 248, 248);
    box-shadow: 0px 0px 5px black;
}

.botoes-card {
    display: flex;
    justify-content: center;
}
#btn-sobre {
    border-radius: 20px;
    padding: 5px 25px;
    background-color: black !important;
    font-weight: 600;
    color: #f5f5f5 !important;
}
#btn-projeto {
    border-radius: 20px;
    padding: 5px 25px;
    background-color: black !important;
    font-weight: 600;
    color: #f5f5f5 !important;
}
.icon-redes-sociais {
    text-align: center;
    padding: 10px;
}
.title-text {
    margin-top: 1em;
    font-weight: 600;
}

.title-subtitle {
    margin: 1em 0;
}

.text {
    padding: 5px 17px;
}

.links-redes-sociais {
    text-decoration: none !important;
}

.links-redes-sociais i {
    color: #19def0;
    font-size: 25px;
    padding: 10px;
}

#footer-elementos {
    display: flex;
    justify-content: space-between;
    }

#footer-elementos .email {
    padding: 15px 0px 15px 0px;
}    
@media (min-width: 900px) {
    .container-linear {
        background: linear-gradient(to left, #fff 60%, #19def0 40%);

        }
.card-col {
    display: flex;
    justify-content: flex-end;
    background-color: #fff !important;
    box-shadow: -10px 5px 10px 0px #292a2d;
}
.card-perfil {
    background-color: #fff !important;
    color: #292a2d;
    box-shadow: none !important;
    width: 18em;
    border: none !important;
}

.btn-card {
    color: black !important;
    }
.text-body {
    box-shadow: none;
}    
.text {
    max-width: 430px;
    vertical-align: middle;
    margin-top: 2em;
}
#footer-elemetos {
    display: flex !important;
    justify-content: center !important;
}
}